<div class="container">
  <%= form_for @user,:html => {:class => "form-horizontal"} do |f| %>
      <fieldset>
        <!-- Form Name -->
        <legend>Profile Details</legend>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">Name</label>
          <div class="col-sm-10">
            <input type="text" placeholder="Name" value="<%= @user.name %>" readonly class="form-control">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">Email</label>
          <div class="col-sm-10">
            <input type="text" placeholder="Address Line 2" value="<%= @user.email %>" readonly class="form-control">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">Address</label>
          <div class="col-sm-10">
            <input type="text" placeholder="Address" value="<%= @user.address %>" readonly class="form-control">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">Phone</label>
          <div class="col-sm-4">
            <input type="text" placeholder="State" value="<%= @user.phone %>" readonly class="form-control">
          </div>
        </div>

      </fieldset>
    <% end %>
  </div><!-- /.col-lg-12 -->