<div class="container">
  <% @request_frends.each do |object| %>
      <% item = object.user %>
      <div class="row">
        <div class="col-md-12">
          <div class="well well-sm">
            <div class="media">
              <a class="thumbnail pull-left" href="<%= user_path(item.id)%>">
                <%= image_tag item.image.url(:thumb), class: 'media-object' %>
              </a>
              <div class="media-body">
                <h4 class="media-heading"><%= item.name %> <span class="title-email">@<%= item.email %></span></h4>
                <p><span class="label label-info"><%= item.get_total_friend(item.id).size %> Friends</span></p>
                <p>
                  <% if current_user && item.id == current_user.id %>
                      <span class="label label-warning">Is Me</span>
                  <% else %>
                      <a href="#" <% if !current_user %> data-toggle="modal" data-target="#myModal" <% else %> onclick="accept_friend(<%= item.id %>,'<%= post_accept_friend_path %>')"<% end %> class="btn btn-xs btn-default"> <span id="icon-friend-<%=item.id %>" class="glyphicon glyphicon-check"></span> Accept</a>
                      <a href="#" <% if !current_user %> data-toggle="modal" data-target="#myModal" <% else %> onclick="deny_request(<%= item.id %>,'<%= post_deny_request_path %>')"<% end %> class="btn btn-xs btn-default"> <span id="icon-friend-<%=item.id %>" class="glyphicon glyphicon-remove"></span> Deny</a>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>

