<div class="container">
  <%= render 'search' %>
  <div class="clear"></div>
  <div class="two-space"></div>
  <% @users.each do |user| %>
  <div class="row">
    <div class="col-md-12">
      <div class="well well-sm">
        <div class="media">
          <a class="thumbnail pull-left" href="<%= user_path(user.id)%>">
            <%= image_tag user.image.url(:thumb), class: 'media-object' %>
          </a>
          <div class="media-body">
            <h4 class="media-heading"><%= user.name %> <span class="title-email">@<%= user.email %></span></h4>
            <p>
              <span class="label label-info"><%= user.get_total_friend(user.id).size %> Friends</span>
              <span class="label label-success"><%= get_point(user.id) %> Favorites</span>
            </p>

            <p>
              <% if current_user && user.id == current_user.id %>
                  <span class="label label-warning">Is Me</span>
              <% else %>
                <% if current_user && user.get_invite_by_frient_id(current_user.id,user.id) != nil && user.get_invite_by_frient_id(current_user.id,user.id).is_friend == 1 %>
                      <!--has friend-->
                    <a href="#" <% if !current_user %> data-toggle="modal" data-target="#myModal" <% else %> onclick="un_friend(<%= user.id %>,'<%= post_un_friend_path %>')"<% end %> class="btn btn-xs btn-default"> <span id="icon-friend-<%=user.id %>" class="glyphicon glyphicon-remove"></span> Unfriend</a>
                      <!--favorite-->
                    <% if current_user && user.get_invite_by_frient_id(current_user.id,user.id) != nil && user.get_invite_by_frient_id(current_user.id,user.id).is_favorite == 1 %>
                        <label class="label label-danger"><span class="glyphicon glyphicon-ok"></span> Favorite</label>
                    <% else %>
                        <a href="#" <% if !current_user %> data-toggle="modal" data-target="#myModal" <% else %> onclick="add_favorite(<%= user.id %>,'<%= post_add_favorite_path %>')"<% end %> class="btn btn-xs btn-default"><span class="glyphicon glyphicon-heart"></span> Favorite</a>
                    <%end%>
                <% else %>
                    <!--not friend--><!--request-->
                    <% if current_user && user.get_invite_by_frient_id(current_user.id,user.id) != nil && user.get_invite_by_frient_id(current_user.id,user.id).is_request_friend == 1 %>
                        <a href="#" <% if !current_user %> data-toggle="modal" data-target="#myModal" <% else %> onclick="un_request(<%= user.id %>,'<%= post_un_request_path %>')"<% end %> class="btn btn-xs btn-default"><span class="glyphicon glyphicon-minus"></span> Un Request</a>
                    <% elsif current_user && user.get_invite_by_frient_id(user.id,current_user.id) != nil && user.get_invite_by_frient_id(user.id,current_user.id).is_request_friend == 1 %>
                          <a href="#" <% if !current_user %> data-toggle="modal" data-target="#myModal" <% else %> onclick="accept_friend(<%= user.id %>,'<%= post_accept_friend_path %>')"<% end %> class="btn btn-xs btn-default"> <span id="icon-friend-<%=user.id %>" class="glyphicon glyphicon-check"></span> Accept</a>
                          <a href="#" <% if !current_user %> data-toggle="modal" data-target="#myModal" <% else %> onclick="deny_request(<%= user.id %>,'<%= post_deny_request_path %>')"<% end %> class="btn btn-xs btn-default"> <span id="icon-friend-<%=user.id %>" class="glyphicon glyphicon-remove"></span> Deny</a>
                    <% else %>
                        <a href="#" <% if !current_user %> data-toggle="modal" data-target="#myModal" <% else %> onclick="add_friend(<%= user.id %>,'<%= post_add_friend_path %>')"<% end %> class="btn btn-xs btn-default"> <span id="icon-friend-<%=user.id %>" class="glyphicon glyphicon-plus"></span>Add Friend</a>
                    <%end%>
                <%end%>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <div class="text-center">
    <div class="pagination">
      <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <%= form_tag '/login' do %>

            Email: <%= text_field_tag :email %>
            Password: <%= password_field_tag :password %>
            <%= submit_tag "Submit" %>

        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
